{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}

<div class="mb-8">

    <div class="bg-white dark:bg-base-900 rounded-xl shadow p-6">

        <h1 class="text-3xl font-bold mb-2">
            {% if change %}
                ✏️ Edit Note
            {% else %}
                ➕ Create New Note
            {% endif %}
        </h1>

        <p class="text-gray-500">
            Manage your notes using the form below.
        </p>

    </div>

</div>

{{ block.super }}

{% endblock %}